<html>
<head>
    <title>
        FB Like and Share button
    </title>
</head>
<body>
    <h1>Please hit the like and Share Button</h1>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0"
        nonce="0OfZ56Ys"></script>
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="standard"
        data-action="like" data-size="small" data-share="true"></div>
</body>
</html>